<div fxFill fxLayout="column">
  <div [fxFlex.gt-md]="8" [fxFlex.lt-sm]="18" fxLayout="row" fxLayoutAlign="start center"
       style="background-color: #757575;">
    <div fxFlex="50%">
      <button (click)="rand()" [disabled]="generateDisable" mat-button name="generate">Generate new !</button>
      <button (click)="sortTrigger()" [disabled]="sortDisable" mat-button name="sort">Sort</button>
      <mat-slider (input)="change($event)" [disabled]="disable" max="100" min="1" value="20"></mat-slider>
    </div>
    <div fxFlex="50%">
      <button (click)="sortTypeChange('bubbleSort')" [disabled]="disable"
              [ngStyle]="{'color':disable === true ? '#101820' : 'white' }"
              mat-button name="sort">Bubble Sort
      </button>
    </div>
  </div>

  <div [fxFlex.gt-md]="92" [fxFlex.lt-sm]="82" fxFlex="100%" fxLayoutAlign="center center">
    <app-sorting (sortStatus)="buttonDisable($event)" [nums]="nums" [sort]="{status: trigger, sortType: sortType}"
                 [width]="range"></app-sorting>
  </div>
</div>
