<div fxFill fxLayout.gt-md="column" fxLayout.lt-md="row" fxLayout.md="row">
  <div [fxFlex.gt-md]="8"
       [fxFlex.lt-sm]="18"
       [fxFlex.sm]="18"
       fxHide.lt-sm="true"
       fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayout.md="column"
       fxLayoutAlign.gt-md="start center"
       fxLayoutAlign.lt-md="start space-evenly"
       fxLayoutAlign.md="start space-evenly"
       style="background-color: #757575;">
    <div fxFlex="50%"
         fxLayout.gt-md="row"
         fxLayout.lt-md="column"
         fxLayout.md="column"
         fxLayoutAlign.gt-md="space-evenly center"
         fxLayoutAlign.lt-md="space-evenly center"
         fxLayoutAlign.md="space-evenly center"
         fxLayoutGap.gt-md=".5%"
         fxLayoutGap.lt-md=".1%"
         fxLayoutGap.md=".1%">
      <button (click)="rand()" [disabled]="generateDisable"
              color="accent" mat-stroked-button name="generate">
        Generate
      </button>
      <div [matTooltipDisabled]="!sortDisable" matTooltip="Select one sorting method">
        <button (click)="sortTrigger()" [disabled]="sortDisable"
                color="accent" mat-stroked-button name="sort">
          Sort
        </button>
      </div>
      <div style="color: #69f0ae">Array size</div>
      <mat-slider (input)="change($event)" [disabled]="generateDisable" max="100" min="1" value="20"></mat-slider>
    </div>
    <div fxFlex="50%"
         fxLayout.gt-md="row"
         fxLayout.lt-md="column"
         fxLayout.md="column"
         fxLayoutAlign.gt-md="space-evenly center"
         fxLayoutAlign.lt-md="space-evenly center"
         fxLayoutAlign.md="space-evenly center">
      <div style="color: #69f0ae">Algorithms</div>
      <button (click)="sortTypeChange('bubbleSort')" [disabled]="disable"
              color="accent" mat-stroked-button name="sort">Bubble Sort
      </button>
    </div>
  </div>

  <div [fxFlex.gt-sm]="92"
       [fxFlex.lt-sm]="82"
       [fxFlex.sm]="82"
       fxFlex="100%" fxLayoutAlign="center center">
    <app-sorting (sortStatus)="buttonDisable($event)" [nums]="nums" [sort]="{status: trigger, sortType: sortType}"
                 [width]="range"></app-sorting>
  </div>
</div>
